---
import Layout from '../layouts/Layout.astro';
import PriceCalculator from '../components/PriceCalculator.svelte';
---

<Layout title="Articleman">
	<main class="flex min-h-screen w-full snap-y snap-proximity flex-col">
		<header
			class="flex min-h-screen w-full snap-end snap-always flex-col items-center justify-center bg-caramel-700 p-4 align-middle"
		>
			<h1
				class="font-soft-100 mt-auto text-center align-middle font-serif text-5xl font-bold text-caramel-75 tab:text-7xl"
			>
				Now's publishing.
			</h1>
			<h2 class="mb-auto mt-7 font-sans text-lg font-black text-caramel-200 tab:text-xl">
				From idea to <span class="rounded-lg bg-caramel-200 p-2 text-caramel-700">Published</span>,
				run around less and get more done.
			</h2>
			<p class="px-2 text-lg font-black text-caramel-400 tab:text-xl">
				Articleman is a <a
					class="text-caramel-75 underline decoration-4 underline-offset-4"
					href="https://bluelinden.art">blue linden</a
				> project.
			</p>
			<p class="px-2 text-lg font-black text-caramel-400 tab:text-xl">
				The source code is available on <a
					class="text-caramel-75 underline decoration-4 underline-offset-4"
					href="https://github.com/LibArticles/articleman">GitHub</a
				>.
			</p>
		</header>
		<article
			class="flex min-h-screen w-full snap-start snap-always flex-col items-center justify-center bg-caramel-200 p-4 align-middle text-caramel-700"
		>
			<h1
				class="font-soft-100 sticky bottom-0 top-4 h-[min-content] w-full font-serif text-4xl font-bold"
			>
				Why us?
			</h1>
			<section
				class="align-left items-left my-auto flex h-full w-96 flex-col gap-4 font-sans text-lg font-bold"
			>
				<p>
					Your job is not to become an expert in Google Sheets or Microsoft Excel. Your job is to be
					creative, be accurate and run a publication.
				</p>
				<p>You shouldn't have to juggle five different tools to get a single hour's work done.</p>
				<p>If you scroll down a little, you can see our great pricing.</p>
			</section>
		</article>
		<article
			class="flex min-h-screen w-full snap-start snap-always flex-col bg-caramel-50 align-middle text-caramel-700"
		>
			<PriceCalculator client:visible />
		</article>
	</main>
</Layout>
